<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdwfqin.sample">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_tm"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".spinner.SpinnerActivity" />
        <activity android:name=".viewpager.ViewPagerActivity" />
        <activity android:name=".activitytransition.T1Activity" />
        <activity android:name=".activitytransition.T2Activity" />
        <activity android:name=".sqlite_table.SqliteTableActivity" />
        <activity android:name=".notifications.NotificationsActivity" />
        <!-- 指定屏幕横屏显示 -->
        <activity
            android:name=".gridview.GridViewActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".bottomsheet.BottomSheetActivity" />
        <activity android:name=".handletimer.HandlerTimerActivity" />
        <activity android:name=".recycler.RecyclerActivity" />
        <activity android:name=".dagger.DaggerActivity" />

        <activity android:name=".mpandroidchart.ChartActivity" />
        <activity android:name=".mpandroidchart.chartactivity.BarChartActivity" />
        <activity android:name=".mpandroidchart.chartactivity.TwoBarChartActivity" />
        <activity android:name=".mpandroidchart.chartactivity.ThreeBarChartActivity" />
        <activity android:name=".mpandroidchart.chartactivity.PositiveNegativeBarChartActivity" />
        <activity android:name=".mpandroidchart.chartactivity.LineChartActivity" />
        <activity android:name=".mpandroidchart.chartactivity.MultiLineChartActivity" />
        <activity android:name=".mpandroidchart.chartactivity.PieChartActivity" />
        <activity android:name=".mpandroidchart.chartactivity.CombineChartActivity" />

        <activity android:name=".popupwindow.PopupActivity"/>
        <activity android:name=".popupwindow.PopDropDownBgActivity"/>
        <activity android:name=".popupwindow.PopDropDownBgSeniorActivity"/>
        <activity android:name=".popupwindow.PopshowAtLocationActivity"/>
        <activity android:name=".popupwindow.PopupAnimActivity"/>
        <activity android:name=".popupwindow.PopupShowAsDropDownActivity"/>
    </application>

</manifest>